
body{
    margin: 0;
    padding: 10px;
    /* background-color: black; */
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projectdiv{
  display: none;
}

.box{
    margin-top: 5px;
    height: 5%;
    width: 90%;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
}
.button{
  margin: 10px;
  padding: 10px;
  height: 5vh;
  width: 20vw;
  border: solid black 2px;
  border-radius: 10px;
}
#grey{
  background-color: grey;
}
#blue{
  background-color: blue;
}
#yellow{
  background-color: yellow;
}
#purple{
  background-color: purple;
}


.inputdiv{
  display: flex; 
  align-items: center;
}

#caculatebmi{
  font-weight: bolder; 
  width: 30vw; height:30px; 
  background-color: aqua; 
  border-radius: 10px;
}

#clock{
  background-color: orange;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.Project4{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}